<aside class="sidebar">
    <div class="logo-container">
        <img class="logo" src="./img/logotipo.png" alt="Logotipo do Sistema">
        <div class="logo-text">
            <h2>Sistema de Apoio</h2>
            <span>Cuidado que conecta</span>
        </div>
    </div>
    <nav>
        <a href="index.html" class="active"><i class="fa-solid fa-house"></i>Dashboard</a>
        <a href="#"><i class="fa-solid fa-users"></i>Usuários</a>
        <a href="#"><i class="fa-solid fa-pills"></i>Medicamentos</a>
        <a href="#"><i class="fa-solid fa-calendar-days"></i>Rotina</a>
        <a href="ocorrencias.html"><i class="fa-solid fa-triangle-exclamation"></i>Ocorrências</a>
        <a href="alertas.html"><i class="fa-solid fa-bell"></i>Alertas</a>
        <a href="comunicacao.html"><i class="fa-solid fa-comment"></i>Comunicação</a>
    </nav>
</aside>